<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Management System</title>
    <style>
        
    </style>
</head>
<body style="font-family: Arial, sans-serif;margin:0px">
    
    <nav style="display: flex;justify-content:center;gap:20px;padding:20px;background-color:rgb(216, 76, 0);font-size:20px">
        <a style="text-decoration: none;color:white;font-weight:700;" href="/">Home</a>
        <a style="text-decoration: none;color:white;font-weight:700;" href="/addEmp">Add Employee</a>
        <a style="text-decoration: none;color:white;font-weight:700;" href="/addTask">Add Task</a>
        <a style="text-decoration: none;color:white;font-weight:700;" href="/export">Export to Excel</a>
    </nav>
    {{{body}}}

    <footer style="text-align: center;padding:2px;font-size:18px;background-color:rgb(216, 76, 0);color:white;">
        <p>Employee Management System- Copyright 2025</p>
    </footer>
</body>
</html>

