
    <style>
        .container {
            max-width: 600px;
            margin: 100px auto;
            background-color: rgb(92, 89, 89);
            padding: 40px;
            border-radius: 15px;
            box-shadow: 0 6px 12px rgba(0,0,0,0.3);
            color: white;
            text-align: center;
        }
        h1 {
            color: #ff6600;
            margin-bottom: 40px;
            font-size: 32px;
        }
        
    </style>

    <div class="container">
        <h1>Employee Management System</h1>
        <div class="footer">
            <p>Simple Employee & Task Management</p>
        </div>
    </div>


